desktop-image: "background.png"
desktop-image-scale-method: "crop"

title-text: " "

message-font: "Maple Mono NF CN Regular 22"

+ image {
  id = "brand"

  top = 5%
  left = 0
  width = 700
  height = 141
  file = "brand.png"
}

+ boot_menu {
  left = 0%
  width = 26%
  top = 22%
  height = 72%

  icon_width = 36
  icon_height = 36

  item_height = 68
  item_padding = 0
  item_icon_space = 18
  item_spacing = 16
  item_color = "#ee858c"
  item_font = "Maple Mono NF CN Regular 22"
  item_pixmap_style = "item_*.png"

  selected_item_color = "#926453"
  selected_item_font = "Maple Mono NF CN Regular 22"
  selected_item_pixmap_style = "selected_item_*.png"
}

+ label {
  id = "__timeout__"

  left = 4%
  top = 18%
  align = "center"
  font = "Maple Mono NF CN Regular 22"
  text = "Selected OS will be booted in %d seconds"
  color = "#777777"
}

terminal-font: "Maple Mono NF CN Regular 18"
terminal-box: "terminal_box_*.png"
terminal-left: "1%"
terminal-top: "18%"
terminal-width: "64%"
terminal-height: "80%"
terminal-border: "0"